        <!-- Menu toggle -->
        <input type="checkbox" id="toggle-1" class="menu-toggle hidden" autocomplete="off">
        <label for="toggle-1" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </label>

        <header id="menu">

            <nav class="pure-menu">
                <a class="pure-menu-logo" href="/"><img src="/images/pic.jpg" class="pure-img" alt="Name" style="width:100%;" /></a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="/" class="pure-menu-link">Home</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/papers.html" class="pure-menu-link">Papers</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/cv.html" class="pure-menu-link">CV</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/blog.html" class="pure-menu-link">Blog</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="/void/" class="pure-menu-link">Short Posts</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="https://example.com" class="pure-menu-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
